.Home {
	height: 98vh;
	font-family: 'IBM Plex Mono', monospace !important;
	margin: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		'omni-wallet omni-pages'
		'omni-farm omni-whiteboard'
		'omni-people omni-party';
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.omni-wallet {
	grid-area: omni-wallet;
	border: 2px solid burlywood;
	background-image: url('../../assets/wallet.png');
	background-size: contain;
	background-position: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.omni-pages {
	grid-area: omni-pages;
	border: 2px solid darkgrey;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.omni-whiteboard {
	grid-area: omni-whiteboard;
	/* grid-row: 2/5;
	grid-column: 2/3; */
	border: 2px solid rgb(44, 221, 162);
	background-image: url('../../assets//whiteboard.jpg');
	background-size: contain;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.omni-farm {
	grid-area: omni-farm;
	border: 2px solid lightgreen;
	background-image: url('../../assets//farm.jpg');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.omni-people {
	grid-area: omni-people;
	border: 2px solid blue;
	background-image: url('../../assets/people.png');
	background-size: contain;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.omni-party {
	grid-area: omni-party;
	border: 2px solid darkorchid;
	background-image: url('../../assets/party.jpg');
	background-size: contain;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inner-container {
	background-color: black;
	color: white;
	padding: 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
	transition: transform 1s;
}

.inner-container:hover {
	cursor: pointer;
	transform: scale(1.1);
	opacity: 1;
}

.Home a {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 80%;
	max-width: 80%;
}

@media only screen and (max-width: 600px) {
	.Home {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
	}
	.inner-container {
		max-height: 80%;
	}
}
